.row
  .col-sm-12
    .col-md-7.col-sm-6
      .sidebar-widget
        %p.green-dark.welcome-text
          = t 'pages.dashboard.welcome_html', agent_name: current_agent.username.upcase
          %br
          %sm= last_sign_in
    .col-sm-1.hidden-xs
      .date-box.clearfix
        %span.date-box-month= today_month
        %span.date-box-day=   today_day
        %span.date-box-year=  today_year
    .col-md-4.col-sm-5
      .sidebar-widget
        %p.bg-warning= t 'pages.dashboard.quick_links'
        .btn-group
          = link_to t('surveys.all'), surveys_path,
                    class: "btn btn-primary btn-outline btn-sm btn-circle"
          = link_to t('surveys.new'), new_survey_path,
                    class: "btn btn-primary btn-outline btn-sm btn-circle"
.row
  %hr
  %hr
  .col-sm-12.stats-box
    .col-sm-3.one-box
      .number-box.number-box-vertical.one-box
        %span.icon.glyphicon.glyphicon-asterisk
        %p
          = surveys_count
          %span.speerator
          %span= t 'pages.dashboard.surveys_count'
    .col-sm-3.one-box
      .number-box.number-box-vertical.one-box
        %span.icon.glyphicon.glyphicon-ok
        %p
          = filled_surveys_count
          %span.speerator
          %span= t 'pages.dashboard.filled_surveys_count'
    .col-sm-3.one-box
      .number-box.number-box-vertical.one-box
        %span.icon.fa.fa-calendar-o
        %p
          = survey_created_last_week_count
          %span.speerator
          %span= t 'pages.dashboard.surveys_last_week_count'
    .col-sm-3.one-box
      .number-box.number-box-vertical.one-box
        %span.icon.fa.fa-calendar-check-o
        %p
          = survey_filled_last_week_count
          %span.speerator
          %span= t 'pages.dashboard.filled_surveys_last_week_count'

- (1..25).each do
  %br

