= button_tag type: "button", class: "btn btn-primary btn-sm btn-circle btn-outline margin btn-copy",
             "data-clipboard-target" => el_target do
  %i.fa.fa-clipboard.text-primary
  &nbsp;
  %span.text-primary= t 'forms.copy'
