- if object.errors.any?
  .error-explanation
    .alert.alert-danger
      = t 'errors.form.heading'
      = pluralize object.errors.count, t('error')
      \:
      %ul
        - object.errors.full_messages.each do |msg|
          %li= msg
