- flash.each do |name, msg|
  = content_tag :div, class: "alert alert-#{name} alert-striped-left alert-dismissible" do
    %button(type="button" class="close" data-dismiss="alert" aria-label="Close")
      %span(aria-hidden="true")
        &times;
    = msg
