.row
  .col-sm-12{ style: "font-family: Calibri, 'Helvetica Neue', Helvetica, Arial, sans-serif;" }
    .table-responsive
      %table.table.table-borderless{ style: "padding-top: 20px;" }
        %tbody
          %tr
            %td
              %span.blue-dark{ style: "color: darkblue;font-weight: bold; line-height: 0;" }
                RIC FMHD Team
            %td
            %td
          %tr{ style: "font-size: 12px;" }
            %td{ style: "width: 200px;" }
              Al Ra'idah Investment Company
              %br
              Tel : +966 (0) 508 0 62 012
            %td
              P.O. Box 56850
              %br
              Riyadh 11564, KSA
              %br
              fmhd@alraidah.com.sa
              %br
              www.alraidah.com.sa
            %td
              %img{ src: asset_url('ric-fmhd.jpg') }
