- provide :title, t('contact')

.row.text-center
  .col-sm-12.center.pt-sans
    .row
      .col-sm-4
        .contact-detail-box
          .fa.fa-comments.fa-3x.icon-colored
          %h4= t 'pages.contact.boxes.one.title'
          %abbr{ title: "Phone" }= t 'pages.contact.boxes.one.phone_abbrv'
          &nbsp;
          = t 'pages.contact.boxes.one.phone_number'
          %br
          %abbr{ title: "Email" }= t 'pages.contact.boxes.one.email_abbrv'
          &nbsp;
          %a.text-muted{ href: "mailto:fmhd@alraidah.com.sa" }
            = t 'pages.contact.boxes.one.email'
          %br
          %abbr{ title: "P.O. Box" }= t 'pages.contact.boxes.one.p_o_abbrv'
          &nbsp;
          = t 'pages.contact.boxes.one.p_o'

      .col-sm-4
        .contact-detail-box
          .fa.fa-map-marker.fa-3x.icon-colored
          %h4= t 'pages.contact.boxes.two.title'
          %address
            = t 'pages.contact.boxes.two.line_1'
            %br
            = t 'pages.contact.boxes.two.line_2'

      .col-sm-4
        .contact-detail-box
          .fa.fa-phone.fa-3x.icon-colored
          %h4= t 'pages.contact.boxes.three.title'
          = t 'pages.contact.boxes.three.description'
          %br
          %h5= t 'pages.contact.boxes.three.call_number'

    %br
    .row
      .col-sm-6
        .contact-map
          %iframe{ frameborder: "0", scrolling: "no", marginheight: "0", marginwidth:"0",
                   style:"width: 100%; height: 360px;",
                  src: "https://www.google.com/maps/embed/v1/place?&key=AIzaSyAvfcrOsggb4c2vF3sZutFEhRr26wwtex8&q=alraidah-Al+Ra'idah+Investment+Company,Saudi+Arabia+Riyadh" }

      .col-sm-6
        .panel.panel-green
          .panel-heading
            %h4
              %i.fa.fa-envelope(aria-hidden="true") &nbsp;
              = t 'pages.contact.form.heading'
          .panel-body
            = form_tag "#", html: { role: 'form' } do
              %legend= t 'pages.contact.form.legend'
              .form-group
                = text_field_tag :name, nil, class: 'form-control',
                                 placeholder: t('forms.name')
              .form-group
                = email_field_tag :email, nil, class: 'form-control', placeholder: t('forms.email')
              .form-group
                = text_field_tag :mobile_number, nil, class: 'form-control',
                                 placeholder: t('forms.mobile_number')
              .form-group
                = text_field_tag :subject, nil, class: 'form-control',
                                  placeholder: t('forms.subject')
              .form-group
                = text_area_tag  :message, nil, class: 'form-control',  rows: '7',
                                 placeholder: t('forms.message')
              = submit_tag t('forms.send'), class: 'btn btn-success btn-outline btn-circle', disabled: true
