= strip_tags simple_format(t('survey_emails.customer_filled.text_html', sr_number: @survey.sr_number,
    job_title: humanize_job_title(@survey), customer_name: @survey.customer_name,
    greeting: greeting_phrase, unique_id: @survey.unique_id))

= render 'shared/mailer_signature'
