= simple_format t('survey_emails.invitation.text_html', sr_number: @survey.sr_number,
    summary: @survey.customer_request_summary.strip, customer_name: @survey.customer_name,
    time_ago: formatted_ago(@survey.initial_reply_email_date_and_time), link: preview_url(@survey),
    job_title: humanize_job_title(@survey), greeting: greeting_phrase)

= render 'shared/mailer_signature'
