= strip_tags simple_format(t('survey_emails.thank.text_html', sr_number: @survey.sr_number,
    job_title: humanize_job_title(@survey), customer_name: @survey.customer_name,
    greeting: greeting_phrase, summary: @survey.customer_request_summary.strip))

= render 'shared/mailer_signature'
