- provide :title, 'Login'

.login-container
  #output
  .avatar
  %h4= t 'agent_login'
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form', class: 'form-box' }) do |f|
    = f.text_field :username, autofocus: true, placeholder: t('auth.username')
    = f.password_field :password, autocomplete: 'off', placeholder: t('auth.password')
    - if devise_mapping.rememberable?
      .checkbox
        = f.check_box :remember_me
        = f.label :remember_me, t('auth.remember_me')
    = f.button  t('login'), type: :submit, class: 'btn btn-info btn-block login'
