.row
  .col-md-9
    .panel.panel-warning
      .panel-heading
        %h4= t 'surveys.record_data'
      .panel-body
        = form_for @survey, html: { role: "form", class: "form-horizontal" } do |f|
          = render "shared/error_messages", object: survey

          .form-group.field
            = f.label :fmdh_agent_name, class: "col-sm-3 control-label"
            .col-sm-9
              = f.text_field :fmdh_agent_name, class: "form-control"
          .form-group.field
            = f.label :customer_name, class: "col-sm-3 control-label"
            .col-sm-9
              = f.text_field :customer_name, class: "form-control"
          .form-group.field
            = f.label :customer_job_title, class: "col-sm-3 control-label"
            .col-sm-9
              = f.select :customer_job_title, options_for_select(Survey.job_titles_for_select, selected: @job_title), {}, class: "form-control"
          .form-group.field
            = f.label :customer_email, class: "col-sm-3 control-label"
            .col-sm-9
              = f.email_field :customer_email, class: "form-control"
          .form-group.field
            = f.label :customer_phone_number, class: "col-sm-3 control-label"
            .col-sm-9
              = f.text_field :customer_phone_number, class: "form-control"
          .form-group.field
            = f.label :sr_number, class: "col-sm-3 control-label"
            .col-sm-9
              = f.number_field :sr_number, class: "form-control"
          .form-group.field
            = f.label :request_first_notification_date_and_time, class: "col-sm-3 control-label"
            .col-sm-9
              = f.datetime_select :request_first_notification_date_and_time, {}, class: ""
          .form-group.field
            = f.label :initial_reply_email_date_and_time, class: "col-sm-3 control-label"
            .col-sm-9
              = f.datetime_select :initial_reply_email_date_and_time, {}, class: ""
          .form-group.field
            = f.label :request_resolution_date, class: "col-sm-3 control-label"
            .col-sm-9
              = f.datetime_select :request_resolution_date, {}, class: ""
          .form-group.field
            = f.label :customer_request_summary, class: "col-sm-3 control-label"
            .col-sm-9
              = f.text_area :customer_request_summary, class: "form-control"
          .actions.btn-toolbar
            .pull-left.flip
              = render 'shared/back_button'
            = f.button type: 'submit', class: "btn btn-success btn-striped center-block pull-right flip" do
              %i.glyphicon.glyphicon.glyphicon-ok.green-secondary
              %span.green-dark
                &nbsp;
                = form_submit_button_text survey

  .col-md-3
    = render 'unique_id_widget'
