.row
  .col-sm-12
    .material-form
      .panel.panel-green
        .panel-heading
          %h4= t 'surveys.customer_survey'
        .panel-body
          - (1..5).each do |num|
            - q_attr = "q#{num}_answer".to_sym
            .row
              .col-sm-7.pad-down
                = t("survey_questions.q#{num}", no: survey_answer.sr_number)
              .col-sm-5.center.green-primary
                %h4.raleway
                  %strong= survey_answer.method(q_attr)[]
            %hr
          %br
          .row
            .col-sm-7
              = t('survey_questions.suggestions_and_notes')
            .col-sm-5.center.green-primary
              %p= survey_answer.suggestions_and_notes
