.row
  %p.col-sm-6.strong= Survey.human_attribute_name 'customer_name'
  %p.col-sm-6.info
    = humanize_job_title(survey)
    = survey.customer_name
.row
  %p.col-sm-6.strong= Survey.human_attribute_name 'customer_email'
  %p.col-sm-6.info= mail_to survey.customer_email, nil,class: 'underline'
.row
  %p.col-sm-6.strong= Survey.human_attribute_name 'customer_phone_number'
  %p.col-sm-6.info= survey.customer_phone_number
.row
  %p.col-sm-6.strong= Survey.human_attribute_name 'sr_number'
  %p.col-sm-6.info= survey.sr_number
.row
  %p.col-sm-6.strong= Survey.human_attribute_name 'request_first_notification_date_and_time'
  %p.col-sm-6.info= formatted survey.request_first_notification_date_and_time
.row
  %p.col-sm-6.strong= Survey.human_attribute_name 'initial_reply_email_date_and_time'
  %p.col-sm-6.info= formatted survey.initial_reply_email_date_and_time
.row
  %p.col-sm-6.strong= Survey.human_attribute_name 'request_resolution_date'
  %p.col-sm-6.info= formatted survey.request_resolution_date
.row
  %p.col-sm-6.strong= Survey.human_attribute_name 'customer_request_summary'
  %p.col-sm-6.info= survey.customer_request_summary
.row
  %p.col-sm-6.strong= Survey.human_attribute_name 'unique_id'
  %p.col-sm-6.info.red-dark= survey.unique_id
%hr
.row
  .col-md-6.text-left.pad-down
  .col-md-6.action-buttons
