.row
  %section.col-md-8.col-md-push-2.col-sm-12.record-details.survey-info
    .thumbnail.shadow-depth-2
      .caption
      %h3
        = t 'survey_questions.conclusion.heading', name: survey.customer_name,
             job_title: humanize_job_title(survey)
      - t('survey_questions.conclusion.content').each.with_index do |line|
        %p.left.flip= line
