.alert.alert-warning.alert-striped-left.alert-dismissible{ role: "alert" }
  %button{ type: "button", class: "close", "data-dismiss": "alert", "aria-label": "Close" }
    %span{ "aria-hidden": "true" }
      &times;
  - unless survey.filled?
    %p= t 'surveys.available_in_other_lang', lang: get_alternative_lang
  - else
    %p= t 'surveys.available_in_other_lang_for_review_only', lang: get_alternative_lang
  %p.survey-lang-notice.center
    - unless survey.filled?
      = link_to t('surveys.available_in_other_lang_button', lang: get_alternative_lang(:long)),
                url_for(locale: other_locale), class: "btn btn-warning btn-striped"
    - else
      = link_to t('surveys.available_in_other_lang_for_review_only_button',
                lang: get_alternative_lang(:long)), url_for(locale: other_locale),
                class: "btn btn-warning btn-striped"
