.row
  .col-sm-12
    .material-form
      .panel.panel-green
        .panel-heading
          %h4= t 'surveys.customer_survey'
        .panel-body
          = form_for survey_answer, url: fill_surveys_path, method: :patch,
                     html: { role: "form", class: "form-horizontal" } do |f|
            = render "shared/generic_error_message", object: survey_answer
            - (1..5).each do |num|
              - q_attr = "q#{num}_answer".to_sym
              .form-group.field
                = f.label q_attr,
                  t("survey_questions.q#{num}", no: survey_answer.sr_number),
                  class: "col-sm-5 control-label"
                .col-sm-7
                  = render "survey_rating_options", f: f, attr_name: q_attr
                  - if survey_answer.errors.messages[q_attr].any?
                    %p.center.red-dark
                      %em= survey_answer.errors.messages[q_attr].first
            .form-group.field
              = f.label :suggestions_and_notes, t('survey_questions.suggestions_and_notes'),
                          class: "col-sm-5 control-label"
              .col-sm-7
                = f.text_area :suggestions_and_notes, class: "form-control", rows: 4
                = hidden_field_tag :unique_id, survey_answer.survey_unique_id
            .row
              .col-sm-7.col-sm-push-5.actions
                %br
                .center
                  = f.button type: 'submit', class: "btn btn-success btn-outline btn-circle" do
                    %i.glyphicon.glyphicon.glyphicon-send.green-primary
                    %span.green-dark
                      &nbsp;
                      = t 'forms.submit'
