%div.center{ "data-toggle": "buttons" }
  - (1..5).each do |num|
    %label.btn.btn-default.survey-btn-circle.btn-lg{ class: check_rating_option_in_css(attr_name, num) }
      = f.radio_button attr_name, num, checked: check_rating_option_for_radio(attr_name, num)
      %span{ checked: "checked" }= num
