- if @survey.filled?
  %hr.green
  .row
    %p.col-sm-3.strong= Survey.human_attribute_name 'answer'
    .col-sm-9
      - (1..5).each do |num|
        - q = "q#{num}_answer".to_sym
        .row
          %p.col-sm-6.strong= SurveyAnswer.human_attribute_name q
          %p.col-sm-6.info
            %strong= @survey.answer[q]
      .row
        %p.col-sm-6.strong= SurveyAnswer.human_attribute_name 'suggestions_and_notes'
        %p.col-sm-6.info= @survey.answer[:suggestions_and_notes]
