.sidebar-widget
  %button.btn.btn-success{ type: "button", data: { toggle: "collapse", target: "#collapseContent" },
                           "aria-expanded": "false", "aria-controls": "collapseContent" }
    = t 'surveys.unique_id'
  .collapse#collapseContent
    .widget-body
      = @survey.unique_id
