- provide :title, t('surveys.edit')

.row
  .col-sm-12
    %nav
      %ul.breadcrumb
        %li= link_to t('home'), root_path
        %li= link_to t('surveys.plural'), surveys_path
        %li= link_to survey_breadcrumb_title(@survey), @survey
        %li.active= t 'forms.editing'

    %header.bg-lightgray
      .row
        .col-md-10
          %h2.listing-title= t 'surveys.record_with_sr', no: @survey.sr_number
      %hr

= render 'form', survey: @survey
