- provide :title, t('surveys.all')

.row
  .col-sm-12
    %nav
      %ul.breadcrumb
        %li= link_to t('home'), root_path
        %li= link_to t('surveys.plural'), surveys_path

    %header.bg-lightgray
      .row
        .col-md-8
          %h2.listing-title= t 'surveys.listing'

        .col-md-4
          = link_to new_survey_path, class: 'btn btn-primary btn-striped pull-right flip' do
            %i.glyphicon.glyphicon.glyphicon-plus
            &nbsp;
            = t 'forms.new'
      %hr

    %section
      .table-responsive
        %table.table.table-hover.table-bordered
          %thead
            %tr.success
              %th= Survey.human_attribute_name 'id'
              %th= Survey.human_attribute_name 'fmdh_agent_name'
              %th= Survey.human_attribute_name 'customer_name'
              %th= t 'surveys.sr_number_short'
              %th= Survey.human_attribute_name 'request_resolution_date'
              %th= Survey.human_attribute_name 'filled'
              %th= Survey.human_attribute_name 'filled_at'
              %th
                %i.glyphicon.glyphicon-cog

          %tbody
            - @surveys.each do |survey|
              %tr
                %td
                  %strong= link_to survey.id, survey
                %td= survey.fmdh_agent_name
                %td= survey.customer_name
                %td
                  %em= survey.sr_number
                %td= formatted_short_date survey.request_resolution_date
                %td{ class: filled_css_class(survey) }= filled_status survey
                %td= formatted_ago(survey.filled_at) || t('not_yet')
                %td
                  .listing-btn-toolbar
                    = link_to survey, class: 'btn btn-default btn-sm', title: t('forms.show'),
                              "data-toggle" => "tooltip", "data-placement" => "bottom" do
                      %i.glyphicon.glyphicon-list-alt
                    = link_to edit_survey_path(survey), class: 'btn btn-primary btn-sm',
                              title: t('forms.edit'), "data-toggle" => "tooltip",
                              "data-placement" => "bottom" do
                      %i.glyphicon.glyphicon-edit
                    = link_to survey, :method => :delete, class: "btn btn-sm btn-danger",
                              title: t('forms.delete'), data: { confirm: t('forms.confirm_delete'), disable_with: t('forms.disable_with_delete') },
                              "data-toggle" => "tooltip", "data-placement" => "bottom" do
                      %i.glyphicon.glyphicon-trash
      %br
      .center
        = will_paginate @surveys, renderer: BootstrapPagination::Rails
        %h5.gray-light.right= page_entries_info @surveys

    - pad_when_little_records @surveys do
      %br.hidden-xs
