.mailing
  .row
  .col-sm-12
    .center
      %br
      %br
      %h4= t 'surveys.sent'
      %br
      = link_to 'javascript:window.close();',
                class: "btn btn-info btn-sm btn-circle btn-outline margin" do
        %i.fa.fa-window-close.text-info
        &nbsp;
        %span.text-info= t 'forms.close'
      %br
      %br
