.mailing
  .row
  .col-sm-12
    .row
      .col-sm-2
        %p
          %strong= t 'forms.to'
      .col-sm-10
        %p#invitation-to.inline= mail_to @survey.customer_email, nil, class: 'underline'
        .pull-right.flip.inline= render "shared/copy_button", el_target: "#invitation-to"
    .row
      .col-sm-2
        %p
          %strong= t 'forms.subject'
      .col-sm-10
        %p#invitation-subject.inline= t 'survey_emails.invitation.subject', sr_number: @survey.sr_number
        .pull-right.flip.inline= render "shared/copy_button", el_target: "#invitation-subject"
    .row
      .col-sm-2
        %p
          %strong= t 'forms.message'
      .col-sm-10
    .row
      .col-sm-12
        #invitation-msg
          = simple_format t('survey_emails.invitation.text_html',
              sr_number: @survey.sr_number,
              summary: @survey.customer_request_summary.strip, customer_name: @survey.customer_name,
              time_ago: formatted_ago(@survey.initial_reply_email_date_and_time),
              job_title: humanize_job_title(@survey), greeting: greeting_phrase,
              link: preview_url(@survey))

        = render 'shared/mailer_signature'

    .row
      .col-sm-12
        .center
          = render "shared/copy_button", el_target: "#invitation-msg"
          = link_to invitation_survey_path, method: :post, data: { confirm: t('generic_confirm_msg'),
                    disable_with: t('forms.disable_with_sending') },
                    class: "btn btn-danger btn-sm btn-circle btn-outline margin" do
            %i.fa.fa-paper-plane-o.text-danger
            &nbsp;
            %span.text-danger= t('forms.send')

        %br
