- provide :title, t('surveys.new')

.row
  .col-sm-12
    %nav
      %ul.breadcrumb
        %li= link_to t('home'), root_path
        %li= link_to t('surveys.plural'), surveys_path
        %li.active= t 'forms.new'

    %header.bg-lightgray
      .row
        .col-md-10
          %h2.listing-title= t 'surveys.new'
      %hr

= render 'form', survey: @survey
