- provide :title, t('surveys.preview_with_sr_title', no: @survey.sr_number)

.row
  .col-sm-12
    = render 'survey_other_lang_alert', survey: @survey
    %header.bg-lightgray
      .row
        .col-md-8
          %h2.listing-title
            = t 'surveys.survey_sr_title', no: @survey.sr_number
      %hr
      - if agent_signed_in?
        %p.pull-right.flip
          = "#{t 'surveys.clicked_counter'}: "
          = @survey.hits_counter
          &nbsp;
          = button_tag type: 'button', class: "btn btn-default btn-sm",
                      "data-toggle" => "tooltip", "data-placement" => "top",
                      title: t('surveys.clicked_counter_note') do
            %i.fa.fa-info

.row
  .col-sm-12
    / Nav tabs
    %ul.nav.nav-tabs{ role: "tablist" }
      %li{ role: "presentation", class: "#{"active" unless @survey.filled?}" }
        %a{ href: "#survey-fill", 'aria-controls': "home", role: "tab", data: { toggle: 'tab',
            turbolinks: 'false' } }
          = t 'surveys.singular'
      %li{ role: "presentation" }
        %a{ href: "#survey-details", 'aria-controls' => "home", role: "tab",
            data: { toggle: 'tab', turbolinks: 'false' } }
          = t 'surveys.sr_info'
      - if @survey.filled?
        %li.active{ role: "presentation" }
          %a{ href: "#survey-thank", 'aria-controls': "home", role: "tab", data: { toggle: 'tab',
              turbolinks: 'false' } }
            = t 'surveys.thank_you'

    / Tab panes
    .tab-content
      %div{ role: "tabpanel", class: "tab-pane #{"active" unless @survey.filled?}", id: "survey-fill" }
        %section.survey-info
        - unless @survey.filled?
          .callout.callout-info
            %p= t 'survey_questions.heading', name: @survey.customer_name,
                  job_title: humanize_job_title(@survey)
            = survey_form_into @survey
          %section.survey-for-fill
            = render 'survey_form', survey_answer: @survey_answer
        - else
          %section.survey-for-fill
            = render 'survey_view_only', survey_answer: @survey_answer

      %div{ role: "tabpanel", class: "tab-pane", id: "survey-details" }
        %section.col-md-11.col-md-push-1
          .record-details.survey-info
            = render "survey_case_info", survey: @survey

      - if @survey.filled?
        %div{ role: "tabpanel", class: "tab-pane active", id: "survey-thank" }
          = render 'survey_thank_message', survey: @survey
