- provide :title, t('surveys.showing')

.row
  .col-sm-12
    %nav
      %ul.breadcrumb
        %li= link_to t('home'), root_path
        %li= link_to t('surveys.plural'), surveys_path
        %li.active= t 'details'

    %header.bg-lightgray
      .row
        .col-md-8
          %h2.listing-title
            - if I18n.locale == :ar
              = t 'details'
            = t 'surveys.survey_sr_title', no: @survey.sr_number
            - if I18n.locale == :en
              = t 'details'
      %hr

.row
  %section.col-md-10.col-md-push-1.col-sm-12.record-details
    .row
      %p.col-sm-6.strong= Survey.human_attribute_name 'fmdh_agent_name'
      %p.col-sm-6.info= @survey.fmdh_agent_name
    .row
      %p.col-sm-6.strong= Survey.human_attribute_name 'customer_name'
      %p.col-sm-6.info= @survey.customer_name
    .row
      %p.col-sm-6.strong= Survey.human_attribute_name 'customer_job_title'
      %p.col-sm-6.info= Survey.human_job_title @survey.customer_job_title
    .row
      %p.col-sm-6.strong= Survey.human_attribute_name 'customer_email'
      %p.col-sm-6.info= mail_to @survey.customer_email, nil, class: 'underline'
    .row
      %p.col-sm-6.strong= Survey.human_attribute_name 'customer_phone_number'
      %p.col-sm-6.info= @survey.customer_phone_number
    .row
      %p.col-sm-6.strong= Survey.human_attribute_name 'sr_number'
      %p.col-sm-6.info= @survey.sr_number
    .row
      %p.col-sm-6.strong= Survey.human_attribute_name 'request_first_notification_date_and_time'
      %p.col-sm-6.info= formatted @survey.request_first_notification_date_and_time
    .row
      %p.col-sm-6.strong= Survey.human_attribute_name 'initial_reply_email_date_and_time'
      %p.col-sm-6.info= formatted @survey.initial_reply_email_date_and_time
    .row
      %p.col-sm-6.strong= Survey.human_attribute_name 'request_resolution_date'
      %p.col-sm-6.info= formatted @survey.request_resolution_date
    .row
      %p.col-sm-6.strong= Survey.human_attribute_name 'customer_request_summary'
      %p.col-sm-6.info= @survey.customer_request_summary
    .row
      %p.col-sm-6.strong= Survey.human_attribute_name 'unique_id'
      %p.col-sm-6.info.strong= @survey.unique_id
    .row
      %p.col-sm-6.strong= Survey.human_attribute_name 'filled'
      %p.col-sm-6.info
        %em{ class: filled_css_class(@survey) }= filled_status @survey
    .row
      %p.col-sm-6.strong= Survey.human_attribute_name 'filled_at'
      .col-sm-6.normalize
        .col-sm-6.info.blue-dark= formatted(@survey.filled_at)
        .col-sm-6.info.blue-dark= formatted_ago @survey.filled_at
    %hr
    .row
      %p.col-sm-6.strong= Survey.human_attribute_name 'created_at'
      .col-sm-6.normalize
        .col-sm-6.info
          %em.green-darker= formatted @survey.created_at
        .col-sm-6.info
          %em.green-darker= formatted_ago @survey.created_at
    .row
      %p.col-sm-6.strong= Survey.human_attribute_name 'updated_at'
      .col-sm-6.normalize
        .col-sm-6.info
          %em.green-darker= formatted @survey.updated_at
        .col-sm-6.info
          %em.green-darker= formatted_ago @survey.updated_at

    = render 'survey_answer', survey: @survey

    %hr
    .row
      .col-md-6.pull-left.pad-down
        .btn-toolbar
          = link_to preview_path(@survey), class: "btn btn-primary", "data-toggle" => "tooltip",
                    "data-placement" => "top", title: t('surveys.preview_tooltip') do
            %i.glyphicon.glyphicon-eye-open
            &nbsp;
            = t('surveys.preview')
          = link_to "javascript:void(0)", class: "btn btn-info",
                    "data-toggle" => "tooltip", "data-placement" => "top",
                    title: t('surveys.generate_invitation_email_tooltip'),
                    "data-turbolinks" => "false", "data-popup" => "true",
                    "data-popup-link" => invitation_survey_url(@survey),
                    "data-popup-title" => t('surveys.invitation_email_window') do
            %i.glyphicon.glyphicon-envelope
            &nbsp;
            = t('surveys.generate_invitation_email')
      .col-md-6.action-buttons.pull-right
        = link_to t('back'), surveys_path, class: "btn btn-default btn-outline"
        = link_to t('forms.edit'), edit_survey_path(@survey), class: "btn btn-primary btn-outline"
        = link_to t('forms.delete'), @survey, method: :delete, class: "btn btn-danger btn-outline",
                  data: { confirm: t('forms.confirm_delete'),
                          disable_with: t('forms.disable_with_delete') }
