- provide :title, t('surveys.preview_with_sr_title', no: @survey.sr_number)

.row
  .col-sm-12
    .alert.alert-success.alert-striped-left.alert-dismissible{ role: "alert" }
      %button{ type: "button", class: "close", "data-dismiss": "alert", "aria-label": "Close" }
        %span{ "aria-hidden": "true" }
          &times;
      %p= t 'surveys.filled_successfully'

    %header.bg-lightgray
      .row
        .col-md-8
          %h2.listing-title
            = t 'surveys.survey_sr_title', no: @survey.sr_number
      %hr

.row
  .col-sm-12
    / Nav tabs
    %ul.nav.nav-tabs{ role: "tablist" }
      %li.active{ role: "presentation" }
        %a{ href: "#survey-thank", 'aria-controls': "home", role: "tab", data: { toggle: 'tab',
            turbolinks: 'false' } }
          = t 'surveys.thank_you'

    / Tab panes
    .tab-content
      %div{ role: "tabpanel", class: "tab-pane active", id: "survey-thank" }
        = render 'survey_thank_message', survey: @survey
