// ** Framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap-flat";
@import "bootstrap-flat-extra";
@import "devise_bootstrap_views";
@import "font-awesome";

// ** Fonts
@import "typography";

// ** Varbiales
// See:  https://getbootstrap.com/css/#less
$green-primary    : #2E8C00;
$green-secondary  : #99CC99;
$green-light      : #FAFFDF;
$green-dark       : #006633;
$green-darker     : #295329;
$green-bg         : #A8DFA6;

// ** General Styles
@import "overrides";
@import "common";
@import "call-for-action";
@import "material-styles";

// ** Specifi Styles
@import "pages";
@import "surveys";
@import "dashboard";
