// Example Usage:
// http://bootsnipp.com/snippets/featured/callouts-call-to-action

.callout-light {
  padding: 30px;
  color: #000;
  background-color: #ccc;

  h1, h2, h3, h4 {
    font-weight: 300;
    line-height: 1.4;
  }
}

.callout-dark {
  padding: 30px;
  color: #fff;
  background-color: #252525;

  h1, h2, h3, h4 {
    font-weight: 300;
    line-height: 1.4;
  }

  p {
    color: #B1B1B1;
    font-size: 17px;
  }
}

.callout-mage {
  padding: 30px;
  background-color: #743C58;
  color: #fff;
}

.callout-bubble {
  padding: 30px;
  color: #fff;
  background-color: #A94545;
}

.callout-bubble {
  h1, h2, h3, h4 {
    font-weight: 300;
    line-height: 1.4;
  }
}

.callout-block {
  background-color: #F9F9F9;
  border-left: 5px solid $green-dark;
  border-right: 5px solid $green-dark;
  padding: 15px;

  h1, h2, h3, h4 {
    font-weight: 300;
    line-height: 1.4;
  }
}
