// ** Setup and Typography **
// full height stretch patch
html, body { height: 100%; }

body {
  background-color: whitesmoke;
  .wrapper {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #25552E;
    background-color: #FCFFF9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    .container {
      width: 95%;
      margin-top: 5rem;
      height: 100%;
    }
  }
}

textarea { resize: vertical; }

.center { text-align: center; }
.left   { text-align: left;   }
.right  { text-align: right;  }

.underline {
  padding-bottom: 0.3em;
  border-bottom: 1px dotted $green-dark;
}

h1, h2 {
  margin-bottom: 1px;
  color: $green-darker;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  @extend .pt-sans;
}

a {
  color: $green-dark;
}

a:hover {
  color: $green-primary;
  text-decoration: none;
}

.green-primary    { color: $green-primary;      }
.green-secondary  { color: $green-secondary;    }
.green-dark       { color: $green-dark;         }
.green-darker     { color: $green-darker;       }
.gray-darker      { color: $gray-darker;        }
.gray-dark        { color: $gray-dark;          }
.gray             { color: $gray;               }
.gray-light       { color: $gray-light;         }
.gray-lighter     { color: $gray-lighter;       }
.red-dark         { color: darkred !important;  }
.blue-dark        { color: darkblue !important; }
.bg-green {
  background-color: $green-bg;
}

.pad-down { padding-bottom: 1.5rem; }
.margin   { margin: 1rem; }
.inline {
  display: inline !important;
}

hr.green {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 3px double $green-primary;
}

// ** Header & Footer **

.navbar-green {
  background-color: #124712;
}
.navbar-green a {
  color: #d5d9d5;
}

.navbar-green .nav > li > a:hover,
.navbar-green .nav > li > a:focus,
.navbar-green .nav .open > a,
.navbar-green .nav .open > a:hover,
.navbar-green .nav .open > a:focus {
  background-color: #126712;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

footer.footer {
  margin-top: 7rem;
  border-top: 2px dotted green;
  text-align: left;

  .row {
    margin-top: 1.6rem;
  }

  ul.links {
    list-style: none;
    text-align: right;

    li {
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 3px;
      display: inline;
    }

    li:first-child {
      margin-left: 0 !important;
    }

    a:hover {
      padding-top: inherit;
      padding-bottom: inherit;
      border-top: 1px dotted $green-secondary;
      border-bottom: 1px dotted $green-secondary;
    }
  }
}

// ** Forms **
.field_with_errors {
  @extend .has-error;
}

// ** Alerts **
.alert-success {
  background-color: white;
}

.alert-alert {
  // @extend .col-md-8;
  // @extend .col-md-push-2;
  @extend .alert-warning;
}

.alert-notice {
  // @extend .col-md-8;
  // @extend .col-md-push-2;
  @extend .alert-success;
}

.callout {
  background-color: white;

  &.callout-alert {
    @extend .callout-danger;
  }
  &.callout-notice {
    @extend .callout-success;
  }
}

// ** Tables **
thead > tr > th, tbody > tr > td {
  text-align: center;
}

.table {
  thead {
    tr {
      font-family: Georgia, Arial, sans-serif;
    }
    tr, th {
      border-top: 1px solid $green-dark !important;
      border-bottom: 1px solid $green-dark !important;
      border-right: 0 !important;
      border-left: 0 !important;
    }
  }
  tbody, tbody tr, tbody td {
    border: 1px dotted $green-secondary !important;
  }
  td {
    vertical-align: middle !important;
  }
}

// No borders mode for bootstrap.
.table-borderless {
  &, tbody, thead, tbody tr, tbody tr td, tbody tr th, thead tr th, thead tr td, tfoot tr th,
  tfoot tr td {
    border: none !important;
  }
}

.listing-btn-toolbar {
  .btn {
    margin-left: 0.3rem;
  }
  .btn:first-child {
    margin-left: 0;
  }
}

// ** Gerenric Elements **
.listing-title {
  @extend .raleway;
  color: $gray;
  display: inline;
}

// ** Media Queries **
@media(max-width: 1260px) and (min-width: 767px) {
  .listing-btn-toolbar {
    .btn {
      margin-left: 0;
    }
    .btn:first-child {
      margin-left: 0;
    }
  }
}

@media(max-width: 1200px) {
  body > .wrapper {
    width: 100%;
  .container {
    width: 100%;
    }
  }
  .footer.footer {
    text-align: center;
    ul.links {
      text-align: center;
    }
  }
}

@media (max-width: 767px) {
  .listing-title {
    display: inline-block;
    padding-bottom: 0em;
  }
}
