.welcome-text {
  text-align: left;
  sm {
    color: #333;
    font-size: 85%;
    text-align: right !important;
    display: block;
  }
}

.stats-box {
  // @extend .raleway;
  padding: 1em;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: $green-darker;
  text-align: center;
  .number-box {
    .speerator {
      margin-bottom: 1rem;
    }
  }

  .icon {
    margin-bottom: 2.2rem !important;
    color: $green-primary;
  }
}

@media (max-width: 767px) {
  .stats-box {
    margin-top: 2rem;
    margin-bottom: 2rem;
    .one-box {
      margin-bottom: 2rem !important;
    }
  }
}
