// ** Devise Views Custom Styling
// Ported and altered from riliwanrabo's work:
// bootsnipp.com/snippets/featured/login-form-layered

body.login-view {
  background: image_url('eight_horns');
  padding: 0;
  margin: 6em auto 2em auto;

  .callout {
    max-width: 280px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    color: darkred;
  }
}

@media (max-width: 660px) {
  body.login-view {
    margin: 1em auto 1.5em auto;
  }
}

.login-container {
  position: relative;
  width: 270px;
  margin: 1em auto;
  padding: 15px 35px 35px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;

  #output {
    position: absolute;
    width: 270px;
    top: -75px;
    left: 0;
    color: #fff;
  }

  #output.alert-success {
    background: rgb(25, 204, 25);
  }

  #output.alert-danger {
    background: rgb(228, 105, 105);
  }

  &:before, &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3.5px;
    left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;
  }

  &:after {
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    -ms-transform: rotateZ(-2deg);
  }

  .avatar {
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
    background-image: image_url('profile-nobody.jpg');
  }
}

.form-box {
  input {
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition: 0.2s ease-in-out;
  }

    input:focus {
    outline: 0;
    background: #eee;
  }

  input[type="text"] {
    border-radius: 5px 5px 0 0;
  }

  input[type="password"] {
    border-radius: 0 0 5px 5px;
    border-top: 0;
  }

  input[type="checkbox"] {
    max-height: 1.4em;
    max-width: 1.4em;
    margin-left: -0.5em;
  }

  button.login {
    margin-top: 10px;
    padding: 10px 20px;
  }
}

.animated  {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp  {
  0%  {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100%  {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp  {
  0%  {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100%  {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp  {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
