// ** Overrides & Customization **
.turbolinks-progress-bar {
  // background-color: #AAC9AA;
  background-color: #B2D2B1;
}

.navbar-toggle .icon-bar {
  background-color: #EBFFFB !important;
}

.navbar-brand {
  opacity: 0.7;
  @extend .raleway;
}

.navbar-brand:hover {
  opacity: 1;
}

.btn-toolbar {
  .btn {
    margin-left: 1rem;
  }
  .btn:first-child {
    margin-left: 0.5rem;
  }
}

.btn-group {
  text-align: center;

  .btn, .btn-group {
    padding-right: 1rem;
  }
}

.btn.btn-circle {
  border-radius: 50px;
  padding-left: 2em !important;
  padding-right: 2em !important;
}

.btn.btn-outline {
  background-color: transparent;
}

.panel-green {
  border-color: $green-dark;
  .panel-heading {
    color: $green-light;
    background-color: $green-primary;
    border-color: $green-dark;
  }
  .panel-body {
  }
}

.pagination {
  margin-top: 0;
  margin-bottom: 0;

  &, ul, li > a, li > span {
    border-radius: 0.8em !important;
    margin-right: 0.2em;
    margin-left: 0.2em;
  }

  li:first-child > a, li:first-child > span {
    margin-right: 0.4em;
  }

  li:last-child > a, li:last-child > span {
    margin-left: 0.4em;
  }

  li > a, li > span {
    text-decoration: none;
    background-color: #fff;
    color: $green-primary;
  }
  .active > a, .active > span, .active > a:hover, .active > span:hover, .active > a:focus,
  .active > span:focus {
    background-color: $green-primary;
    border-color: $green-primary;
  }

  li > a:hover, li > span:hover, li > a:focus, li > span:focus {
    color: $green-dark;
  }
}

.btn-default.btn-striped, .btn-primary.btn-striped, .btn-success.btn-striped,
.btn-info.btn-striped, .btn-warning.btn-striped, .btn-danger.btn-stripe {
  // @extend .pt-sans;
  // will be bad in rtl
}

.btn-primary.btn-striped {
  color: #2254B9 !important;
}

// ** Media Queries **
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    background-color: white;
  }
}

@media (max-width: 660px) {
  .navbar-brand {
    font-size: 1.1em !important;
  }

  .btn-toolbar {
    margin: 0 auto;
    text-align: center;
  }

  .btn-toolbar .btn, .btn-toolbar .btn-group {
    float: none;
  }
}

@media (max-width: 470px) {
  .pagination {
    &, ul, li > a, li > span {
      border-radius: 0.5em !important;
      margin-right: 0.2em;
      margin-left: 0.2em;
    }
    li:first-child > a, li:first-child > span {
      margin-right: 0;
      display: none;
    }
    li:last-child > a, li:last-child > span {
      display: none;
      content: "→" !important;
    }
  }
}
