// ** Static pages styling **

// Contact Page

.contact-detail-box {
  margin-bottom: 50px;
  color: $green-darker;
  address {
    font-size: 14px;
  }
  text-align: center;
  h5 {
    line-height: 1em;
    font-size: 1.4rem;
    font-weight: bold;
  }
}

.contact-map {
  background-color: #ededed;
  margin: 0 auto;
  text-align: center;
  iframe {
    pointer-events: none;
  }
}

.icon-colored {
  color: $green-primary;
}
