// ** Overrides **
body > .wrapper {
  width: 92%;
  .container {
    width: 100%;
    margin-top: 1.2rem;
  }
}

// ** Mailer **
.mailing {
  p, h4, table {
    font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }

  h4 {
    line-height: 0;
  }
  table {
    tr {
      td {
        text-align: left;
        vertical-align: top !important;
      }
    }
  }
}
