// ** Bootstrap-rtl lib and other overrides and customization tailored to RTL langs.
@import "bootstrap-rtl";

.rtl {
  direction: rtl;

  .left.flip {
    text-align: right;
  }

  .right.flip {
    text-align: left;
  }

  // ** common.scss **
  .listing-btn-toolbar {
    .btn {
      margin-left: 0.3rem;
    }
  }

  footer.footer {
    text-align: right;
    ul.links {
      text-align: left;
    }
  }

  @media(max-width: 1200px) {
    .footer.footer {
      text-align: center;
      ul.links {
        text-align: center;
      }
    }
  }

  // ** overrides.scss **
  .btn-toolbar {
    .btn {
      margin-left: 1rem;
    }

    .btn:last-child {
      // margin-left: 0.5rem;
    }
  }

 .btn-group {
    .btn, .btn-group {
      padding-left: 1rem;
      padding-right: 0;
    }
  }

  .pagination {
    li:first-child > a, li:first-child > span {
      margin-right: 0;
      margin-left: 0.4em;
    }

    li:last-child > a, li:last-child > span {
      margin-left: 0;
      margin-right: 0.4em;
    }
  }

  @media (max-width: 470px) {
    .pagination {
      li:first-child > a, li:first-child > span {
        margin-left: 0;
        display: none;
      }
    }
  }

  // ** surveys.scss **
  .record-details {
    .normalize {
      margin-right: 0 !important;
      padding-right: 0 !important;
    }
  }

  .survey-info {
    .callout {
      text-align: right;
    }
  }

  @media (max-width: 768px) {
    .record-details {
      .info {
        float: left;
      }
    }
  }

  // ** dahsboard.scss **
  .welcome-text {
    text-align: right;
    sm {
      text-align: left;
    }
  }

  .stats-box p {
    font-family: 'Scheherazade';
    font-size: 3.5rem;
  }


  // ** pages.scss **
  .contact-detail-box {
    font-size: 1.7rem;
    address {
      font-size: 1.6rem;
    }
    h4 {
      font-size: 2rem !important;
      font-weight: bold;
    }
  }
}
