.sidebar-widget {
  background-color: white;
  border: 1px dotted $green-darker;
  padding: 1em 1em 1em 1em;
  vertical-align: middle;
  text-align: center;

  .widget-body {
    margin-top: 2em;
    color: $green-primary;
    font-size: 1.1em;
    font-weight: bold;
  }
}

.record-details {
  .strong {
    font-weight: bold;
  }

  .info {
    color: $green-primary;
  }

  .normalize {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .action-buttons {
    text-align: right;
  }
}

.survey-info {
  margin-top: 2.5rem;

  .callout {
    background-color: white !important;
    text-align: left;
  }
}

.survey-lang-notice {
  .btn-warning.btn-striped {
    color: #8a6d3b;
    border-left: 3px solid #8a6d3b;
  }
}

.survey-for-fill {
  margin-top: 3.5rem;
}

// ** Courtesy for: bootsnipp.com/snippets/nPxOv
.survey-btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 15px;
  margin: 1rem;

  &.btn-lg {
  width: 50px;
  height: 50px;
  padding: 11px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  }
}

@media (max-width: 768px) {
  .record-details {
    .info {
      float: right;
      padding-bottom: 0.6rem;
    }

    .action-buttons {
      float: none;
      text-align: center;
    }
  }
}
