@import url('https://fonts.googleapis.com/css?family=PT+Sans|Raleway|Roboto+Slab:300');

.pt-sans {
  font-family: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.raleway {
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.roboto-slab {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.rtl {
  // ** Arabic Fonts are imported conditionally in the application.html.haml layout

  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue",
               Helvetica, Arial, sans-serif;

  .pt-sans {
    font-family: 'Lateef';
    // font-family: 'Scheherazade';
    font-size: 2rem;
  }

  .raleway {
    font-family: 'Noto Naskh Arabic UI';
    font-size: 1.6em;
  }

  .roboto-slab {
    font-family: 'Noto Naskh Arabic UI';
  }
}
