%footer.container-fluid.footer
  .row
    .col-sm-6
      %p.pt-sans
        &copy;
        = "#{t 'ric_fmhd'} | #{t 'customer_surveys_center'} - (#{footer_year})"
    .col-sm-6
      %ul.links.green-dark
        %li= link_to t('home'), root_path
        %li &bull;
        %li= link_to t('contact'), contact_path

