%nav.navbar.navbar-green
  .container-fluid
    .navbar-header
      %button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: root_path }
        %span.fa.fa-check-square-o &nbsp;
        %span= t 'customer_surveys_center'

    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-right.flip
        - if agent_signed_in?
          %li.dropdown.center
            %a#account-icon.dropdown-toggle{ href: "#", data: { toggle: "dropdown" }, role: "button",
            "aria-haspopup": "true", "aria-expanded": "false" }
              %span.glyphicon.glyphicon-object-align-bottom
              &nbsp;
              = t 'dashboard'
            %ul.dropdown-menu
              %li.center= link_to t('main'), dashboard_main_path
              %li.center= link_to t('browse_surveys'), surveys_path
              - if admin?
                %li.divider{ role: "separator" }
                %li.center= link_to t('report'), dashboard_report_path
                %li.center= link_to t('statistics'), dashboard_stats_path
                %li.center= link_to t('settings'), dashboard_settings_path
              %li.divider{ role: "separator" }
              %li.center= link_to t('logout'), destroy_agent_session_path, method: :delete,
                          data: { confirm: t('generic_confirm_msg') }

        %li.center= link_to t('arabic'), url_for(locale: :ar)
        %li.center= link_to t('English'), url_for(locale: :en)
