!!!
%html
  %head
    %title= page_title yield :title
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
    = render "layouts/shim"
  %body.login-view
    .container
      - flash.each do |name, msg|
        .row
          = content_tag :div, class: "callout callout-#{name}", role: 'callout' do
            = msg
      .row
        = yield
