!!!
%html
  %head
    %title= page_title yield :title
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = stylesheet_link_tag 'popup', media: 'all', 'data-turbolinks-track' => 'reload'
    - if I18n.locale == :ar
      = stylesheet_link_tag 'rtl', media: 'all', 'data-turbolinks-track' => 'reload'
      = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lateef|Scheherazade&subset=arabic',
                            media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
    = render "layouts/shim"
  %body{ class: locale_css_class }
    .wrapper
      .container
        = render "shared/flash_messages"
        = yield
